/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Universal Styles */
* {
    font-family: Manrope;
}

/* Custom Styles */
.menu a:active {
    background-color: #FF4240;
    color: white;
}
.btn-circle {
    background-color: black;
    color: white;
}
.horizontal-line {
    border-top: 1px dashed #131318;
}
.Card {
    background-size: cover;
}
.card1 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent, rgba(0, 0, 0, 0.8)), url('/assets/images/2.png');
}
.card2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent, rgba(0, 0, 0, 0.8)), url('/assets/images/3.png');
}
.card3 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent, rgba(0, 0, 0, 0.8)), url('/assets/images/4.png');
}
